<div class="container  ">

    <div class="  col-lg-12 mt-4   ">
      <div class="row bg-light rounded-top">
        <div class="col-lg-12">
          <nav class="navbar navbar-light bg-light justify-content-between">
            <a class="navbar-brand">Catalogo de productos</a>

            <form class="form-inline  nav justify-content-end" [formGroup]="formularioBusqueda" (ngSubmit)="onBusqueda()" >
                      <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-search"></i></span>
                          <input type="text" class="form-control" placeholder="Buscar producto" id="cntBusqueda"   formControlName="fcn_busqueda">
                      </div>
            </form>

          </nav>
        </div>
      </div>
      <div class="row rounded-bottom bg-light">

          <div class="col-lg-3 mt-2 card-group" *ngFor="let item of items">
              <div class="card"  >
                <img class="card-img-top imagenCatalogo" src="../../assets/images/{{item.imagen}}" alt="Card image cap" >
                <div class="card-body">

                  <h5 class="card-title">{{item.nombre}}</h5>
                  <p class="card-text">Precio: {{item.precio}}$<br> Unidades disponibles: {{item.cantidad}}</p>
                  <div class="row">


                      <form class="form-inline ml-2 align-items-center" [formGroup]="formularioItem">
                        <div class="form-group">
                        <button type="button" class="btn btn-primary" (click)="verItem(item)" >Ver mas</button>
                        </div>
                        &nbsp;
                        <div class="form-group">
                            <input type="number"  min="1" class="form-control mb-0" style="width:60px" formControlName="fcn_add_item" placeholder="{{cantidadMinima}}">
                        </div>
                        &nbsp;
                        <button type="submit" class="btn btn-warning" (click)="anadirItem(item)">Añadir</button>
                      </form>

                  </div>

                </div>
              </div>
          </div>



      </div>



    </div>

</div>
